body{
	position:static !important;
}


#container{
	position:relative;
}
.group, .screen{
	color:#164C93;
	text-decoration: underline;
	cursor:pointer;
}

.group{
	white-space: nowrap;
}

#ann_table > table{
	border-collapse:collapse;
	background-color:#A9FFFF;
}

#ann_table table td,th{
	border:1px solid black;
	text-align: center;
	padding:5px;
}

#ann_table{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:4em;
	width:30em;
}

.error_msg{
	float:none !important;
}

/*
.ui-datepicker{
	margin-left:-12.5%;
	margin-top:-1.55%;
}
*/
