body{
	margin-left: 15%;
	margin-right: 15%;
	background: linear-gradient(white, #5F8EFF);
	background-repeat: no-repeat;
	background-attachment: fixed;
}


.main_title{
	text-align:center;
	color: blue;
	font-size:3em;
}

#head_title{
	color: blue;
}

#admin{
	position:absolute;
	top:2em;
	right:15%;
	text-align:right;
}

#footer{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-top:150px;
	width:20em;
	white-space:normal;
}

.submit_btn{
	padding:5px 10px;
	text-align:center;
	width:120px;
	height:inherit;
	background-color:#00B0E0;
}
