#container{
	position:relative;
	border:1px solid black;
	margin-left:auto;
	margin-right:auto;
	margin-top:4em;
	width:25em;
	background-color:#A9FFFF;
	padding:4em;
	overflow:hidden;
}

#users{
	position:relative;
	white-space:nowrap;
	float:left;
	margin-bottom:10px;
}

#screens{
	position:relative;
	white-space:nowrap;
	float:right;
	margin-bottom:10px;
}

#container h1{
	text-align:center;
}

#groups{
	margin-left:7em;
	margin-bottom:10px;
	background-color:white;
	padding:6px 4px;
}
#upd_group{
	margin-left:5px;
	position:relative;
}

#success_msg{
	background-color:#49D737;
	text-align:center;
	clear:both;
}
