#cpside {
	position:relative;
	float:left;
	display:block;
	vertical-align:top;
	padding-top:10px;
	top:4em;
	border:3px solid;
	background-image: linear-gradient(to bottom, #55C6C7, #907FE4);
	padding:1em;
}

#cpside button{
	width : 170px;
	background: #3498DB;
	background-image: linear-gradient(to bottom, #3498DB, #2980B9);
	border-radius: 28px;
	font-family: Arial;
	color: #FFFFFF;
	font-size: 18px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	margin-bottom:8px;
}

#cpside button:hover{
	background: #3CB0FD;
	background-image: linear-gradient(to bottom, #3CB0FD, #3498DB);
	text-decoration: none;
}

#cpside a{
	overflow:visible;
	width:120px;
	color:#FFFFFF;
	text-decoration:underline;
	text-align:center;
	margin-left:25px;
	display:block;
}

.explain{
	position:fixed;
	top: 18%;
	left:0;
	right:0;
	display:none;
	width:270px;
	padding:40px 40px;
	margin:auto auto;
	text-align:center;
	color:#000;
	background:#96B6D3;
	border-radius:50%;
	z-index:10;
}
